//Container
.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  display: block;
  background-color: #ccc;
  margin: 1.5rem 0;
}

//Text Style
.text {
  &-primary {
    color: $primary-color;
  }

  &-dark {
    color: $dark-color;
  }

  &-warning {
    color: $warning-color;
  }

  &-danger {
    color: $danger-color;
  }

  &-success {
    color: $success-color;
  }

  &-light {
    color: $light-color;
  }

  &-white {
    color: #fff;
  }
}

.x-large {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

//Buttons
.btn {
  display: inline-block;
  background: $light-color;
  color: $dark-color;
  border: none;
  padding: .4rem 1.3rem;
  border-radius: .25rem;
  cursor: pointer;
  font-size: 1em;
  transition: all .1s ease-in;

  &:not(last-child) {
    margin-right: 1rem;
  }

  outline : none;

  &.btn-primary {
    @include set-background($primary-color);

    &:hover {
      @include set-background(darken($primary-color, 5%));
    }
  }

  &.btn-dark {
    @include set-background($dark-color);

    &:hover {
      @include set-background(lighten($dark-color, 5%));
    }
  }

  &.btn-success {
    @include set-background($success-color);

    &:hover {
      @include set-background(darken($success-color, 5%));
    }
  }

  &.btn-danger {
    @include set-background($danger-color);

    &:hover {
      @include set-background(lighten($danger-color, 5%));
    }
  }

  &.btn-light {
    @include set-background($light-color);
    border: 1px solid #ccc;

    &:hover {
      @include set-background(darken($light-color, 5%));
    }
  }

  &.btn-warning {
    @include set-background($warning-color);

    &:hover {
      @include set-background(darken($warning-color, 5%));
    }
  }

  &.btn-white {
    @include set-background(#fff);
  }

  &.btn-lg {
    font-size: 1.1em;
    padding: .6rem 1.5rem;
  }

  &.btn-sm {
    font-size: .9em;
    padding: .3rem .5rem;
  }
}

//Background
.bg {
  &-primary {
    @include set-background($primary-color);
  }

  &-light {
    @include set-background($light-color);
    border: 1px solid #ccc;
  }

  &-dark {
    @include set-background($dark-color);
  }

  &-warning {
    @include set-background($warning-color);
  }

  &-danger {
    @include set-background($danger-color);
  }

  &-success {
    @include set-background($success-color);
  }

  &-white {
    @include set-background(#fff);
    border: 1px solid #ccc;
  }

}

.dark-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($dark-color, .75);
}

//Navbar
.navbar {
  &-dark {
    & * {
      color: $light-color;
    }

  }

  &-light {
    & * {
      color: $dark-color;
    }
  }
}

//Alerts
.alert {
  display: block;
  padding: 0.8rem;
  margin: 1rem;
  opacity: .9rem;
  background: $light-color;
  color: #ccc;

  &.alert-primary {
    @include set-background($primary-color);
  }

  &.alert-warning {
    @include set-background($warning-color);
  }

  &.alert-success {
    @include set-background($success-color);
  }

  &.alert-danger {
    @include set-background($danger-color);
  }

  &.alert-dark {
    @include set-background($dark-color);
  }

  &.alert-light {
    @include set-background($light-color);
  }
}

//Badges
.badge {
  font-size: .8em;
  padding: .1rem;
  text-align: center;
  margin: .3rem;
  background: $light-color;
  color: #333;

  &.badge-primary {
    @include set-background($primary-color);
  }

  &.badge-warning {
    @include set-background($warning-color);
  }

  &.badge-success {
    @include set-background($success-color);
  }

  &.badge-danger {
    @include set-background($danger-color);
  }

  &.badge-dark {
    @include set-background($dark-color);
  }

  &.badge-light {
    @include set-background($light-color);
  }
}

//Table
.table {

  th,
  td {
    padding: 1rem;
    text-align: left;
  }

  th {
    background: $light-color;
  }
}